body {
    width:100%;
    font-family: 'Roboto Condensed', sans-serif;
    margin:0px auto;
}

#content {
    width:1000px;
    margin:0px auto;
}

.button_blue, .button_green {
    font-size:16px;
    font-weight:300;
	display:inline-block;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color:#13c71f;
	padding: 5px 10px;
	transition: background-color 0.2s;
	transition: box-shadow 0.2s;

	cursor:pointer;
	margin:10px;
	border-radius: 3px;
}

.button_blue {
    background:url(../img/button_blue.png);
    border:1px solid #0381d1;
    }
.button_green {
    background:url(../img/button_green.png);
    border:1px solid #05c72e;
    }


.resicon_small, .resicon_middle, .resicon_big {
    float:left;
    margin-right:10px;

    }

.resicon_small {
    width:64px;
    height:64px;
    }

.resicon_middle {
    width:64px;
    height:64px;
    }

.resicon_big {
    }

.paper {
  background-color: #495C63;
  position: fixed;
  z-index: 100;
  bottom: 0px;
  left: 0;
  width: 95%;
  padding:10px 2.5%;
  height: 90px;
  display:block;
}


.resHolder{
  float:left;
  display:inline-block;
  width:90px;
  height:100%;
  margin-right:10px;
  
}

.resAmount {
  display:block;
  text-align:center;
  color:white;
  background-color:#2f3b3f;
  margin:0px auto;
  width:70px;
  border-radius:8px;
  font-size:14px;
  padding:4px 5px;

}

.resButton {
  width:56px;
  height:56px;
  display: block;
  margin:0px auto 8px auto;
  background:url(../img/wood_blue.png);
  background-size: 56px 56px;
  background-repeat: no-repeat;
  background-position: top;
  border:none;
}
