body {
    width:100%;
    font-family: 'Roboto Condensed', sans-serif;
    margin:0px auto;
}

#content {
    width:1000px;
    margin:0px auto;
}

.button_blue, .button_green {
    font-size:16px;
    font-weight:300;
	display:inline-block;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color:#13c71f;
	padding: 5px 10px;
	transition: background-color 0.2s;
	transition: box-shadow 0.2s;

	cursor:pointer;
	margin:10px;
	border-radius: 3px;
}

.button_blue {
    background:url(../img/button_blue.png);
    border:1px solid #0381d1;
    }
.button_green {
    background:url(../img/button_green.png);
    border:1px solid #05c72e;
    }


.paper {
  background-color: #495C63;
  position: fixed;
  z-index: 100;
  bottom: 0px;
  left: 0;
  width: 95%;
  padding:10px 2.5%;
  height: 98px;
  display:block;
}


.resHolder{
  float:left;
  display:inline-block;
  width:150px; /*90*/
  height:100%;
  margin-right:10px;
}

.resAmount {
  display:block;
  text-align:center;
  color:white;
  background-color:#2f3b3f;
  margin:0px auto 8px auto;
  width:70px;
  border-radius:8px;
  font-size:14px;
  padding:4px 5px;

}

#steel-mine, #wool-mine {
  background:url(../img/wood.png);
  background-size: 64px 64px;
  background-repeat: no-repeat;
  background-position: top;
}
.resButton {
  width:64px;
  height:64px;
  display: block;
  margin:0px auto 10px auto;
  background:url(../img/wood_blue.png);
  background-size: 64px 64px;
  background-repeat: no-repeat;
  background-position: top;
  border:none;
  -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
  position:relative;
  outline:none;
  border-radius: 50%;
  overflow: hidden;
}
