<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Testing Django</title>
  <meta name="description" content="">
  <meta name="edisontrent1337" content="">
  <meta name="keywords" content="">

  {% load staticfiles %}
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic' rel='stylesheet'
  type='text/css'>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>




</head>


<div id="header">

</div>
<div id="content">

  <span>Per Click:</span><span id="perClick">1</span>
<input type="button" class="button_green" id="wood-upgrade" value="WOOD UPGRADE"/>
<input type="button" class="button_green" id="wool-upgrade" value="WOOL UPGRADE"/>
<input type="button" class="button_green" id="stone-upgrade" value="STONE UPGRADE"/>
<input type="button" class="button_green" id="steel-upgrade" value="STEEL UPGRADE"/>


<div class="paper" id="resBar">
  {% load staticfiles %}
  <div class="resHolder">
    <section style="width:40%; height:100%;  float:left;  z-index:-1;">
        <span class="resAmount" id="wood-upd" style="text-align:left; padding-left:6px; color:#41ec55; width:150%;">0</span>
        <span class="resAmount" id="wood-cost" style="width:100%; margin-left:30%; margin-top:13px; text-align:left; padding-left:6px; color:red;">1</span>
    </section>
    <section style="width:60%; display:block;float:left;margin-left:-15px; z-index:30000;">
        <button class="resButton" id="wood-mine"><div style="margin-left:-50%;margin-top:72%; display:block;color:#fff; text-align:center; background-color:black; width:20px; font-size:18px; height:70px; width:200%; background: rgba(0,0,0,.33);"><span id="wood-level"></span></div></button>
        <span class="resAmount" id="wood">0</span>
    </section>

  </div>


  <div class="resHolder">
    <section style="width:40%; height:100%;  float:left;  z-index:-1;">
        <span class="resAmount" id="wool-upd" style="text-align:left; padding-left:6px; color:#41ec55; width:150%;">0</span>
        <span class="resAmount" id="wool-cost" style="width:100%; margin-left:30%; margin-top:13px; text-align:left; padding-left:6px; color:red;">1</span>
    </section>
    <section style="width:60%; display:block;float:left;margin-left:-15px; z-index:30000;">
        <button class="resButton" id="wool-mine"><div style="margin-left:-50%;margin-top:72%; display:block;color:#fff; text-align:center; background-color:black; width:20px; font-size:18px; height:70px; width:200%; background: rgba(0,0,0,.33);"><span id="wool-level"></span></div></button>
        <span class="resAmount" id="wool">0</span>
    </section>

  </div>



  <div class="resHolder">
    <section style="width:40%; height:100%;  float:left;  z-index:-1;">
        <span class="resAmount" id="stone-upd" style="text-align:left; padding-left:6px; color:#41ec55; width:150%;">0</span>
        <span class="resAmount" id="stone-cost" style="width:100%; margin-left:30%; margin-top:13px; text-align:left; padding-left:6px; color:red;">1</span>
    </section>
    <section style="width:60%; display:block;float:left;margin-left:-15px; z-index:30000;">
        <button class="resButton" id="stone-mine"><div style="margin-left:-50%;margin-top:72%; display:block;color:#fff; text-align:center; background-color:black; width:20px; font-size:18px; height:70px; width:200%; background: rgba(0,0,0,.33);"><span id="stone-level"></span></div></button>
        <span class="resAmount" id="stone">0</span>
    </section>

  </div>



  <div class="resHolder">
    <section style="width:40%; height:100%;  float:left;  z-index:-1;">
        <span class="resAmount" id="steel-upd" style="text-align:left; padding-left:6px; color:#41ec55; width:150%;">0</span>
        <span class="resAmount" id="steel-cost" style="width:100%; margin-left:30%; margin-top:13px; text-align:left; padding-left:6px; color:red;">1</span>
    </section>
    <section style="width:60%; display:block;float:left;margin-left:-15px; z-index:30000;">
        <button class="resButton" id="steel-mine"><div style="margin-left:-50%;margin-top:72%; display:block;color:#fff; text-align:center; background-color:black; width:20px; font-size:18px; height:70px; width:200%; background: rgba(0,0,0,.33);"><span id="steel-level"></span></div></button>
        <span class="resAmount" id="steel">0</span>
    </section>

  </div>





  <button class="resButton"></button>


</div>

<div id="footer"></div>

</div>
<script>

</script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
