<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Testing Django</title>
    <meta name="description" content="">
    <meta name="edisontrent1337" content="">
    <meta name="keywords" content="">

    {% load staticfiles %}
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic' rel='stylesheet' type='text/css'>

</head>


<div id="header">

</div>
<div id="content">
    {% load staticfiles %}
   <!-- <img src="{% static 'img/blue_tiled_cube.png' %}" alt="wtf"/>

    <input type="button" class="button" value="Increase Income"/>-->

    <div class="button_blue">Upgrade</div>
    <div class="button_green">UPGRADE</div>

</div>
<div id="footer"></div>

</body>
</html>